* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
a {
    text-decoration: none;
}

.el-message {
    min-width: 180px !important;
    max-width: 300px !important;
    padding: 10px 15px !important;
}

.el-message__content {
    text-align: center !important;
    width: 100% !important;
}